[SplitKey]

keyCode = num0

# To change the key, use one of the key bindings below. and replace what is in keyCode for your split key that is on LiveSplit.

# If your key is not on this list, please let me know or input a github issue.


# left
# down
# shift
# 0
# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9
# a
# b
# c
# d
# e
# f
# g
# h
# up
# left
# down
# right
# +
# -
# o
# p
# q
# r
# s
# t
# u
# v
# w
# x
# y
# z
# num0
# num1
# num2
# num3
# num4
# num5
# num6
# num7
# num8
# num9
# +
# -
# *
# /
# .